<header class="header">
  <div class="container">
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus illum corporis quam totam cum aspernatur modi perspiciatis doloremque dolores saepe nisi, ipsum reiciendis et! Labore et sunt inventore eligendi fugit.
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia officia incidunt est omnis qui provident reiciendis ea nobis error modi dolorum tempora, tenetur sunt perspiciatis quidem sit, explicabo cum blanditiis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque sit deserunt voluptatum excepturi possimus ex, ducimus exercitationem placeat, aspernatur rem eius nulla, nemo dolores vel ut commodi quidem praesentium? Dolorem!</p>
  </div>
</header>
